<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>example</title>
</head>

<body>
<div align="center"><font size="6" face="Times New Roman, Times, serif"><strong>Example </strong> </font></div>
<table width="400" border="0" align="center">
    <tbody>
    <tr>
        <td>
            <p><font align="left" size="4" color="black" face="courier">Eg1  AMP(Antibacterial,Antifungal):<br>
                NLCERASLTWTGNCGNTGHCDTQCRNWESAKHGACHKRGNWKCFCYFDC
            </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
             <p><font align="left" size="4" color="black" face="courier">Eg2  AMP(Antiviral,Anti-HIV):<br>
                GDPTFCGETCRVIPVCTYSAALGCTCDDRSDGLCKRN
            </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
             <p><font align="left" size="4" color="black" face="courier">Eg3  Non-AMP:<br>
                MTEERKLYVCMRCGRIFSKSEMEILPGIRCPYCNFKIIMKVRSPMVKRIPAI
            </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><font align="left" size="4" color="black" face="courier">Eg4  Non-AMP:<br>
               ADLIERRQRSEFQFSAVGLGPRTDYEVDILTTFTKLNYEAYTYPR
            </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
                        <p><font align="left" size="4" color="black" face="courier">Eg5  AMP(Antibacterial,anti-MRSA):<br>
               GFLGPLLKLGLKGAAKLLPQLLPSRQQ

            </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><font align="center" size="4" color="black" face="courier">Eg6  AMP(Antibacterial,Anticancer,Antifungal):<br>
                GLFDIVKKIAGHIVSSI<br>
            </font><br>
            </p>
            <p><strong><font size="4" face="Times New Roman, Times, serif"><strong>NOTE</strong>: The user only needs to input the sequence and click the Submit sequence button to output the prediction result.</font></strong></p>

            </font></font></font></strong>
            <table cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                </tr>
                <tr>
                </tr>
                </tbody>
            </table>
            <strong><font size="4" face="Times New Roman, Times, serif"><font size="4"
                                                                              face="Times New Roman, Times, serif"><font
                    size="4" face="Times New Roman, Times, serif"><p>&nbsp;</p>
            </font></font></font></strong></td>
    </tr>
    </tbody>
</table>
<div align="right" style="width:50%;">
    <a href="javascript:window.close()">
        <span style="font-size:20px">
            Close
        </span>
    </a>
</div>
<div id="footer" style="font-size:15px">

    <p align="center">Xiao Lab:Bioinformatic Team (<a href="http://www.jci-bioinfo.cn/">Xiao Lab</a>)
        ----------------------------------------------------Contact: 532606318@qq.com</a></p>

</div>
</body>
</html>